@media (max-width:1200px)
  .container
    max-width: 960px
  .panel
    &-top
      &-row
        padding: 15px
        flex-wrap: nowrap
      &-block
        padding: 0 15px
        &__content
          font-size: 14px

@media (max-width: 992px)
  .container
    max-width: 800px
  .header
    &-mid
      &__icon
        margin-left: 0
      &__city
        display: none
      &__logo

        top: 50%
        left: 50%
        &-icon
          width: 150px

      &__daty
        margin-right: 10px
  .navbar
    &-header
      &-menu
        &__link
          font-size: 12px
  .panel
    &-top
      &-row
        flex-wrap: wrap
      &-block
        padding: 10px
        width: 50%
        border: none
        &:last-child
          padding: 10px
        &:first-child
          padding: 10px
        &__content
          font-size: 14px
  .main
    &-content
      &-list
        &-item
          &--active
            padding: 25px 25px 25px 25px
            display: flex
            flex-direction: column
    &-buttons

@media (max-width: 850px)
  .container
    max-width: 700px

@media (max-width: 768px)
  .container
    max-width: 90%
  .header
    &-menu
      &__section
        display: none
    &-form
      &__button
        margin-left: 10px
    &-info
      padding-right: 10px

    &-mid
      &__logo
        display: none
  .navbar
    &-header
      display: none
      &--visible
        display: block

      &-menu
        display: flex
        flex-direction: column
        align-items: center

        &__item
          &:not(:last-child)
            padding-bottom: 15px
  .main
    &-content
      width: 100%
    &-sidebar
      display: none
    &__title
      font-size: 30px
    &__subtitle
      margin-top: 100px

@media (max-width:  576px)
  .header
    &-menu
      border: none
      &__button
        margin-right: 0
      &__section
        display: none
    &-form
      &__button
        display: none
      &__input
        max-width: 120px
    &-info
      padding-right: 0
      display: none
    &-mid
      &__icon
        width: 80px
      &__daty
        margin-right: 5px
        font-size: 12px
      &-temperatyre
        font-size: 12px
  .panel
    &-top
      &-block
        width: 100%
  .main
    &-buttons
      flex-direction: column
      &__more
        margin-bottom: 20px
    &__title
      margin-bottom: 20px
    &__subtitle
      margin-top: 50px
