@media (max-width:1200px)
  .container
    max-width: 960px

@media (max-width: 992px)
  .container
    max-width: 800px
  .header
    &-mid
      &__icon
        margin-left: 0
      &__city
        display: none
      &__logo

        top: 50%
        left: 50%
        &-icon
          width: 150px

      &__daty
        margin-right: 10px
@media (max-width: 850px)
  .container
    max-width: 700px

@media (max-width: 768px)
  .container
    max-width: 90%
  .header
    &-menu
      &__section
        display: none
    &-form
      &__button
        margin-left: 10px
    &-info
      padding-right: 10px

    &-mid
      &__logo
        display: none

@media (max-width:  576px)
  .header
    &-menu
      border: none
      &__button
        margin-right: 0
      &__section
        display: none
    &-form
      &__button
        display: none
      &__input
        max-width: 120px
    &-info
      padding-right: 0
      display: none
    &-mid
      &__icon
        width: 80px
      &__daty
        margin-right: 5px
        font-size: 12px
      &-temperatyre
        font-size: 12px
