*
  box-sizing: border-box
  margin: 0
  padding: 0
  list-style: none

body
  color: $primary
  background-color: #E5E5E5

img
  width: 100%

.button
  outline: 0
  border: none
  cursor: pointer
  background: none
a
  cursor: pointer
  text-decoration: none
  color: inherit

.container
  max-width: 1140px
  margin: auto
